.search-bar {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  background-color: #242424;
  z-index: 999; // > 0, para ficar acima do restante

  &__input-wrapper {
    position: relative; // necessário para o dropdown absoluto
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 600px;
    background-color: transparent;
    padding: 8px 16px;
    border-radius: 9999px;
    border: 1px solid var(--border-color);
    transition: border 0.2s;

    svg {
      color: var(--text-secondary);
      margin-right: 10px;
    }

    input {
      border: none;
      outline: none;
      background: transparent;
      color: var(--text-primary);
      width: 100%;
      font-size: 14px;

      &::placeholder {
        color: var(--text-muted);
      }
    }

    &:focus-within {
      border-color: var(--accent-blue);
      box-shadow: 0 0 0 2px var(--accent-hover);
    }
  }
}

.search-bar__results {
  position: absolute;
  top: calc(100% + 4px); // logo abaixo do input
  left: 0;
  width: 100%;
  background-color: #1e1e1e;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 1000;
  max-height: 300px;
  overflow-y: auto;
  text-align: start;

  li {
    padding: 8px 16px;
    cursor: pointer;
    color: var(--text-primary);

    &:hover {
      background-color: #333;
    }
  }
}

.search-bar__loading {
  position: absolute;
  top: calc(100% + 4px);
  left: 0;
  width: 100%;
  max-width: 600px;
  padding: 8px 16px;
  color: var(--text-muted);
  background-color: #1e1e1e;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  z-index: 1000;
}
